{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Signup and login table tab -->
<div class="row" id="index_wrapper">
    {% if messages %}
        {% for message in messages %}
          <div class="row alert alert-success message" role="alert">
            <div class="col">
              {{ message }}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    <div class="row">
        <div class="col" id="container_title">
            <h3>Login</h3>
        </div>
    </div>
    <div class="row" id="log_container">
        <div class="col" id="login_container">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ login_form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn btn-primary" type="submit">Login</button>
            </form>
        </div>
        <hr>
        <!-- Singup button redirects to account/signup -->
        <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Or Sing Up</a>
    </div>
</div>
<!-- End of table tab -->
{% endblock %}
