@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* Resets all the default browser styles */
*{
    margin: 0;
    padding: 0;
}

html, body { height:100%; padding:0; margin:0; }

/* Styles for base.html */
/* Header area */
body {
    min-width: 100vw;
    overflow-x: hidden;
    background-image: url('https://res.cloudinary.com/dmgrh8ekr/image/upload/v1642891482/greenwich/pattern_wg14iu.png');
    background-size: 600px;
}

#logo {
    font-family: 'Oooh Baby', cursive;
    color: white;
    text-decoration: none;
}

.container-fluid {
    justify-content: center;
}

.head_row {
    background-color: #323232;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 75px;
    line-height: 50px;
}

.nav_bar ul li{
    display: inline;
    margin: 25px 10px 0 10px;
}

li {
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
}

#base_container{
    min-height: 90vh; /* Fix it according to the margin of the other pages apart from the index one*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer area */
footer {
    background-color: #323232;
    color: white;
    height: 54px;
    text-align: center;
    margin-bottom: 0;
}
/* end of styles for base.html */


/* Styles for index.html */
#index_wrapper {
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 15% auto; */
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* login styles */
#login_container {
    background-color: white;
    align-items: center;
    width: 80%;
}

#container_title{
    margin: 10px auto;
}

#login_container form {
    margin: 10px auto;
}

#index_wrapper h3,
#login_container form {
    text-align: center;
}

.btn-primary{
    width: 140px;
}

#log_container a {
    margin: 10px auto;
}
/* end of styles for index.html */


/* Styles for booknow.html */
#book_now_container{
    background-color: white;
    width: 30%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-heading {
    text-align: center;
    margin-top: 25px;
}

#form_content{
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col form {
    width: 60%;
}

.form-row{
    margin-top: 10px;
}

#book_btn{
    margin: 25px 0;
    width: 25%;
}
/* End of booknow styles */

/* Styles for booking.html */
#bookings_container{
    background-color: white;
    width: 50%;
    min-height: 80vh;
}

.description {
    margin: 25px 0;
}

.title {
    text-decoration: underline;
}

.title:hover {
    cursor: pointer;
    color: #b4ebc2;
}

.book_information {
    display: none;
}

.info_display {
    display: flex;
}
/* end of styles for booking.html */

/* Styles for menu page */
/* Styles for main container */
#menu_container {
    text-align: center;
    background-color: rgba(265, 265, 265, 1);
    padding: 25px 0;
    margin: 75px auto;
}

.dish_type_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.dish_type_title h2{
    padding-top: 3px;
}


.left {
    transform: scaleX(-1);
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

/* Styles for add and edit page */
/* Styles for main container */
.add_edit_container {
    background-color: white;
    width: 30%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-heading {
    text-align: center;
    margin-top: 25px;
}

.item_form_content{
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col form {
    width: 60%;
}

.form-row{
    margin-top: 10px;
}

#update_btn, #add_btn{
    margin: 25px 0;
    width: 25%;
}

/* Signup page styles */
#signup_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-height: 40vh;
}

#singup_description{
    margin: 25px auto;
}

#signup_form {
    width: 100%;
}

#singup_btn{
    margin: 25px auto;
}

/* Logout page styles */
#logout_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    min-height: 15vh;
    text-align: center;
    padding: 30px;
}

#logout_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#logout_btn{
    margin: 25px auto;
}

/* Responcive css styles */
@media (max-width: 376px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: 0; 
    }
    
    #base_container {
        min-height: 81vh;
        width: 70%;
    }

    #index_wrapper {
        width: 75%;
    }

    #signup_container {
        width: 80%;
    }

    #singup_description {
        text-align: center;
    }

    #singup_btn {
        width: 100%;
    }

    #bookings_container {
        width: 80%;
        margin: 35px auto;
    }

    #booked h3,
    #pending h3 {
        font-size: 18px;
    }

    #book_now_container {
        width: 80%;
        margin: 35px auto;
    }

    #book_btn {
        width: 100%;
    }

    #menu_container {
        width: 80%;
    }

    .message{
        width: 105%;
    }

    .add_edit_container {
        width: 80%;
        margin: 35px auto;
    }

    .col form {
        width: 80%;
    }

    #update_btn, #add_btn {
        width: 100%;
    }

    .item_form_content {
        margin: 7px;
        text-align: center;
    }

    .item_form_content h1{
        font-size: 20px;
    }

  }

@media (max-width: 480px) {
    #base_container {
        min-height: 85vh;
    }

    #index_wrapper {
        width: 80%;
    }

    #signup_container {
        width: 80%;
    }

    #singup_description {
        text-align: center;
    }

    #singup_btn {
        width: 100%;
    }

    #bookings_container {
        width: 80%;
        margin: 35px auto;
    }

    #booked h3,
    #pending h3 {
        font-size: 18px;
    }

    #book_now_container {
        width: 80%;
        margin: 35px auto;
    }

    #book_btn {
        width: 100%;
    }

    #menu_container {
        width: 80%;
    }

    .message{
        width: 105%;
    }

    .add_edit_container {
        width: 80%;
        margin: 35px auto;
    }

    .col form {
        width: 80%;
    }

    #update_btn, #add_btn {
        width: 100%;
    }

    .item_form_content {
        margin: 7px;
        text-align: center;
    }

    .item_form_content h1{
        font-size: 20px;
    }

  }


@media screen and (min-width: 768px) {
    #base_container {
        min-height: 85vh;
        width: 81%;
        margin: auto;
    }

    #index_wrapper {
        width: 80%;
    }

    #signup_container {
        width: 80%;
    }

    #book_now_container {
        width: 80%;
        margin: 35px auto;
    }

    #book_btn {
        width: 100%;
    }

    .add_edit_container {
        width: 80%;
        margin: 35px auto;
    }

    .col form {
        width: 80%;
    }

    #update_btn, #add_btn {
        width: 100%;
    }

    .item_form_content {
        margin: 7px;
        text-align: center;
    }



}

@media screen and (min-width: 1366px) {
    #base_container {
        min-height: 90vh;
    }

    #index_wrapper {
        width: 40%;
    }

    #signup_container {
        width: 40%;
    }

    #bookings_container {
        background-color: white;
        width: 80%;
        min-height: 81vh;
    }

    #book_now_container {
        width: 50%;
        min-height: 81vh;
    }

    #menu_container {
        width: 90%;
        min-height: 81vh;
    }

}