@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* Resets all the default browser styles */
*{
    margin: 0;
    padding: 0;
}

html, body { height:100%; padding:0; margin:0; }

/* Styles for base.html */
/* Header area */
body {
    min-width: 100vw;
    overflow-x: hidden;
    background-image: url('https://res.cloudinary.com/dmgrh8ekr/image/upload/v1642891482/greenwich/pattern_wg14iu.png');
    background-size: 600px;
}

#logo {
    font-family: 'Oooh Baby', cursive;
    color: white;
    text-decoration: none;
}

.container-fluid {
    justify-content: center;
}

.head_row {
    background-color: #323232;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 75px;
    line-height: 50px;
}

.nav_bar ul li{
    display: inline;
    margin: 25px 10px 0 10px;
}

li {
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
}

#base_container{
    min-height: 90vh; /* Fix it according to the margin of the other pages apart from the index one*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer area */
footer {
    background-color: #323232;
    color: white;
    height: 54px;
    text-align: center;
    margin-bottom: 0;
}
/* end of styles for base.html */


/* Styles for index.html */
#index_wrapper {
    width: 20%;
    /* margin: 15% auto; */
}

#tab_content{
    width: 20%;
    height: 45%;
    
}

.tabcontent, .tab {
    margin: 0 auto;
}

/* login styles */
#login_container {
    background-color: white;
    width: 80%;
}

/* signup styles */
#singup_container {
    background-color: white;
    width: 80%;
    display: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #bf80ff;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #b4ebc2;
}

.tab button.active:hover {
    background-color: #65cf7f;
}

.tab button:hover {
    background-color: #a94dff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
} 
  
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* end of styles for index.html */


/* Styles for booknow.html */
#book_now_container{
    background-color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
/* End of booknow styles */

/* Styles for booking.html */
#bookings_container{
    background-color: lightcyan;
    width: 50%;
    min-height: 80vh;
}

.title {
    text-decoration: underline;
}

.title:hover {
    cursor: pointer;
    color: white;
}

.book_information {
    display: none;
}

.info_display {
    display: flex;
}
/* end of styles for booking.html */

/* Styles for menu page */
/* Styles for main container */
#menu_container {
    text-align: center;
    background-color: rgba(265, 265, 265, 1);
    padding: 25px 0;
    margin: 75px auto;
}

.dish_type_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.dish_type_title h2{
    padding-top: 3px;
}


.left {
    transform: scaleX(-1);
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

.message {
    background-color: rgb(42, 209, 42);
    margin-bottom: 25px;
    animation: messageFadeEffect 5s;
}
  
/* Go from zero to full opacity */
@keyframes messageFadeEffect {
    from {opacity: 1;}
    to {opacity: 0;}
}


/* Styles for add and edit page */
/* Styles for main container */
.add_edit_container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}