{% extends "base.html" %}

<!-- The page renders data from the DB, sorted based on the dish category from the menu_item model -->
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="container add_edit_container" >
            <div class="row">
                <div class="col item_form_content">
                    <h1 class="form-heading">Hello {{ user.username}}.</h1> 
                    <p>You can enter the new dish information below.</p>
                    <form method= "POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group">
                                {{form.title|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                {{form.components|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                {{form.price|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                {{form.item_category|as_crispy_field}}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" id="add_btn">Add Item</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>You need to be logged in to see the content of this page.</h1>
                    <p>Login or sign up <a href="{% url 'index' %}">here!</a></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}