{% extends "base.html" %}

<!-- The page renders data from the DB, sorted based on the dish category from the menu_item model -->
{% load crispy_forms_tags %}

{% block content %}
<!-- Page summary -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello add new menu item here</h1>
                <form method= "POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Add Item</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}