{% extends "base.html" %}

<!-- The page renders data from the DB, sorted based on the dish category from the menu_item model -->
{% load crispy_forms_tags %}

{% block content %}
<!-- Page summary -->
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Hello edit menu item here</h1>
                    <form method= "POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>You need to be logged in to see the content of this page.</h1>
                    <p>Login or sign up <a href="{% url 'index' %}">here!</a></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}