{% extends "base.html" %}

{% block content %}
    <div class="container menu_container">
        <div class="row page_description">
            <div class="col">
                <h2>The greenwich menu</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Pellentesque gravida odio sem, a vestibulum ipsum suscipit et. 
                    Sed ut diam purus. Morbi aliquet dictum magna, ac placerat mi ullamcorper in. 
                    In vulputate placerat velit, ut euismod urna semper at. 
                    Proin tempus maximus ipsum eu tincidunt. Maecenas mattis tempus diam, ac tempor ligula vestibulum imperdiet. 
                    Nullam bibendum non mi ac ultricies. Donec vestibulum iaculis est sed tempus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Starters</h2>
                {% for starter in starters %}
                    <div class="row">
                        <div class="col">
                            <h3 class="title"> {{ starter.title}} </h3>
                            <div class="dish_info">
                                <p> {{ starter.components }}</p>
                                <p>{{ starter.price}} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>       
        <div class="row">
            <div class="col">
                <h2>Main Course</h2>
                {% for main in mains %}
                    <div class="row">
                        <div class="col">
                            <h3 class="title"> {{ main.title}} </h3>
                            <div class="dish_info">
                                <p> {{ main.components }}</p>
                                <p>{{ main.price}} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>    
        <div class="row">
            <div class="col">
                <h2>Deserts</h2>
                {% for desert in deserts %}
                    <div class="row">
                        <div class="col">
                            <h3 class="title"> {{ desert.title}} </h3>
                            <div class="dish_info">
                                <p> {{ desert.components }}</p>
                                <p>{{ desert.price}} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>            
        </div>
    </div>
{% endblock %}