{% extends "base.html" %}

<!-- The page renders data from the DB, sorted based on the dish category from the menu_item model -->

{% block content %}
<!-- Page summary -->
    <div class="container menu_container">
        <div class="row page_description">
            <div class="col">
                <h2>The greenwich menu</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Pellentesque gravida odio sem, a vestibulum ipsum suscipit et. 
                    Sed ut diam purus. Morbi aliquet dictum magna, ac placerat mi ullamcorper in. 
                    In vulputate placerat velit, ut euismod urna semper at. 
                    Proin tempus maximus ipsum eu tincidunt. Maecenas mattis tempus diam, ac tempor ligula vestibulum imperdiet. 
                    Nullam bibendum non mi ac ultricies. Donec vestibulum iaculis est sed tempus.
                </p>
            </div>
            {% if  user.username == "admin" %}
                <a href="{% url 'add' %}">Add item <i class="fas fa-plus"></i></a>
            {% endif %}
        </div>
        <!-- Rendered DB content based on the starter category -->
        <div class="row">
            <div class="col">
                <div class="dish_type_title">
                    <img src="https://res.cloudinary.com/dmgrh8ekr/image/upload/v1641499227/greenwich/floral-design_oqkhlj.png" alt="floral-menu-title0decoration" class="left">
                    <h2>Starters</h2>
                    <img src="https://res.cloudinary.com/dmgrh8ekr/image/upload/v1641499227/greenwich/floral-design_oqkhlj.png" alt="floral-menu-title0decoration" class="right">
                </div>
                <hr>
                {% for starter in starters %}
                    <div class="row">
                        <div class="col">
                            {% if  user.username == "admin" %}
                                <h3 class="dish_title"> 
                                    {{ starter.title}}
                                    <a href="{% url 'edit' starter.id %}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="{% url 'delete' starter.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </h3>
                            {% else %}
                                <h3 class="dish_title"> {{ starter.title}} </h3>
                            {% endif %}
                            <div class="dish_info">
                                <p> {{ starter.components }}</p>
                                <p>{{ starter.price}} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Rendered DB content based on the main course category -->
        <div class="row">
            <div class="col">
                <div class="dish_type_title">
                    <img src="https://res.cloudinary.com/dmgrh8ekr/image/upload/v1641499227/greenwich/floral-design_oqkhlj.png" alt="floral-menu-title0decoration" class="left">
                    <h2>Main Course</h2>
                    <img src="https://res.cloudinary.com/dmgrh8ekr/image/upload/v1641499227/greenwich/floral-design_oqkhlj.png" alt="floral-menu-title0decoration" class="right">
                </div>
                <hr>                
                {% for main in mains %}
                    <div class="row">
                        <div class="col">
                            {% if  user.username == "admin" %}
                                <h3 class="dish_title"> 
                                    {{ main.title}} 
                                    <a href="{% url 'edit' main.id %}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="{% url 'delete' main.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </h3>
                            {% else %}
                                <h3 class="dish_title"> {{ main.title}} </h3>
                            {% endif %}
                            <div class="dish_info">
                                <p> {{ main.components }}</p>
                                <p>{{ main.price}} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Rendered DB content based on the desert category -->
        <div class="row">
            <div class="col">
                <div class="dish_type_title">
                    <img src="https://res.cloudinary.com/dmgrh8ekr/image/upload/v1641499227/greenwich/floral-design_oqkhlj.png" alt="floral-menu-title0decoration" class="left">
                    <h2>Deserts</h2>
                    <img src="https://res.cloudinary.com/dmgrh8ekr/image/upload/v1641499227/greenwich/floral-design_oqkhlj.png" alt="floral-menu-title0decoration" class="right">
                </div>
                <hr>
                {% for desert in deserts %}
                    <div class="row">
                        <div class="col">
                            {% if  user.username == "admin" %}
                                <h3 class="dish_title"> 
                                    {{ desert.title}} 
                                    <a href="{% url 'edit' desert.id %}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="{% url 'delete' desert.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </h3>
                            {% else %}
                                <h3 class="dish_title"> {{ desert.title}} </h3>
                            {% endif %}
                            <div class="dish_info">
                                <p> {{ desert.components }}</p>
                                <p>{{ desert.price}} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>            
        </div>
    </div>
{% endblock %}