{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Container for the booking form -->
    <div class="container" id="book_now_container">
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col form-heading">
                    <h2>Hello {{ user.username}} here you can reserver you table.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col" id="form_content">
                    <form method= "POST">
                        {% csrf_token %}
                            {% if user.username == "admin" %}
                                <div class="form-row">
                                    <div class="form-group">
                                        {{form.used_id|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                      {{ form.booked_time|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                      {{ form.booked_date|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                      {{ form.menu_type|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                      {{ form.table_num|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                      {{ form.guests_num|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                      {{ form.status|as_crispy_field }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-row">
                                    <div class="form-group">
                                    {{ form.booked_time|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                    {{ form.booked_date|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                    {{ form.guests_num|as_crispy_field }}
                                    </div>
                                </div>
                            {% endif %}
                        <button type="submit" class="btn btn-success" id="book_btn">Book Now</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <h1>You need to be logged in to see the content of this page.</h1>
                    <p>Login or sign up <a href="{% url 'index' %}">here!</a></p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}