{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <title>base.html</title>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row head_row">
                <!-- here goes the logo -->
                <div class="col">
                    <h1>The Greenwich</h1>
                </div>
                <div class="col">
                    <!-- Beginning of navigation bar -->
                    <ul class="navbar">
                        <li>
                            <a href="#">Book Now</a>
                        </li>
                        <li>
                            <a href="{% url 'booking' %}">My Bookings</a>
                        </li>
                        <li>
                            <a href="{% url 'menu' %}">Menu</a>                            
                        </li>
                        <li>
                            <a href="{% url 'info' %}">Contact Us</a>
                        </li>
                    </ul>
                    <!-- End of navigation bar -->
                </div>
            </div>
        </div>
    </header>
    {% block content%}
    <!-- Content goes here -->
    {% endblock%}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- Copyright -->
                    <div>
                        © 2021 Copyright:
                        <a href="#">Code Institute Milestone Project 4</a>
                    </div>
                    <!-- Copyright -->
                </div>
            </div>            
        </div>
      </footer>
      <!-- Custom javascript -->
      <script src="{% static 'js/base.js' %}"></script>
</body>
</html>